/* body{
  background-color: rgb(192, 94, 94);
} */

.card-body.img{
    height:50px;
    object-fit: cover;
}

/* ########################## HOMEPAGE ########################## */
.home-yard {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: -1;
  background-image: url("/static/images/backyard.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-shadow: 0 0 8px #66757f;
}

.home-yard .btn {
  text-shadow: none;
  position: relative;
  z-index: 1;
  width: 150px;
}

.home-yard h1 {
  margin-bottom: 4rem;
}

.home-yard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
}

.home-yard h4{
  text-shadow: -1px -1px #333, 1px -1px #333, -1px 1px #333, 1px 1px #333;
  margin-bottom: 20px;
}

.home-btns a{
  margin: 0px 10px;
}

/* #################### NAVBAR #################################### */
.nav-home{
  margin-left: 40px;
}

.nav-home img{
  width: 50px;
  height: 50px
}

nav li{
  align-items:center;
  margin-left: 10px;
}

nav form{
  align-items: center;
  margin-left: 10px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-item{ 
  margin-right: 15px; /* if the nav is on the right */ 
  margin-bottom: 15px;
} 

.nav-link:hover{
  color:#FF385C;
}

.navbar-form{
  display:flex;
  margin: 0px 15px;
}

.nav-item-right{
  margin-left: auto;
}

.search-container{
  display: block;
  flex: 0 1 auto;
  min-width: 348px;
}

.logout-btn:hover{
  background-color:#FF385C;
}



/* ################## Location Cards ######################################## */
.card{
  margin: 5px 5px 15px;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomesList-card a{
  text-decoration: none;
}

.HomesList-card h5{
  text-decoration: underline;
}

.like{
  float: right;
}

/* ######################### LOCATION IMAGE ############################# */
.location-img{
  width: 50vw;
}

/* ######################### CARD LAYOUT ################################ */
.home-cards{
  display:grid
}
