/* body{
  background-color: rgb(192, 94, 94);
} */

.card-body.img{
    height:50px;
    object-fit: cover;
}

/* #################### NAVBAR #################################### */
.nav-item{ 
  margin-right: 15px; /* if the nav is on the right */ 
  margin-bottom: 15px;
} 

.nav-link:hover{
  color:#FF385C;
}

.navbar-form{
  display:flex;
  margin: 0px 15px;
}

.search-container{
  display: block;
  flex: 0 1 auto;
  min-width: 348px;
}


/* ################## Location Cards ######################################## */
.card{
  margin-bottom: 15px;
}

.logout-btn:hover{
  background-color:#FF385C;
}