<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ShareBnB</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/stylesheets/styles.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">

  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">

        {% if not g.user %}
              <li><a href="/signup">Sign up</a></li>
              <li><a href="/login">Log in</a></li>
        {% else %}
              <li>
                <a href="/">
                  Home
                </a>
              </li>
              <li><a href="/locations/add">Add Locations</a></li>
              <li><a href="/users/{{g.user.id}}">{{g.user.username}}</a></li>
            <form action="/logout" method="POST">
              {{ g.csrf_form.hidden_tag() }}
              <li><button class="link-button">Log Out</button></li>
              <!-- <a href="/logout">Log out</a> -->
            </form>
        {% endif %}
      </ul>
    </div>
  </nav>

<div class="container">

  {% block content %}
  {% endblock %}

</div>

</div>
</body>
</html>
