<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/static/images/favicon.ico"> 
  <title>
    ShareBnB
  </title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/stylesheets/styles.css">
</head>

<body class="{% block body_class %}{% endblock %}">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand nav-link nav-home" href="/"><img src="/static/images/front-gate-open.png"></a>

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% if not g.user %}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/locations/add">Add Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/{{g.user.id}}">{{g.user.username}}</a>
        </li>
        {% include "search.html" %}
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
        {{ g.csrf_form.hidden_tag() }}
        <li class="nav-item nav-item-right">
          <button class="link-button logout-btn">Log Out</button>
        </li>
      </form>
      {% endif %}
  </nav>

<div class="container">

  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</div>

</div>
</body>
</html>
