{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}
  <!-- Edit Form -->
  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="location-profile">Location</h2>

        <h1>{{location.address}}</h1>
        <img class="location-img"src="{{location.image_url}}" alt="{{location.address}}"/>
        <p>{{location.price}}</p>
        {% include "_book-button.html" %}
        <p>{{location.details}}</p>

        <a href="/users/{{user_id}}" class="btn btn-primary btn-lg">Go To Owner Profile</a>
    </div>
  </div>

{% endblock %}