{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}
  <!-- <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5"> -->
    <!-- Properties row -->
    <div class="container home-container">
      <h2 class="user-profile">{{user.username}}'s Profile</h2>
      <a href="/users/{{g.user.id}}/edit" class="btn btn-primary btn-lg">Edit Profile</a>
        <div class="row">
          <h3 class="user-locations">Properties</h3>
          <div class="HomesList">
            <div class="HomesList row">
              {% for location in user.locations %}
              <div class="HomesList-card col-md-3">
                <div class="HomesList">
                  <div class="home-cards card mb-3">
                    <h1>{{ location.address }}</h1>
                    <img src="{{location.image_url}}" alt="{{location.address}}" class="card-img-top"/>
                      {% if location.users_who_booked|length > 0 %}
                      <p>{{ location.users_who_booked.username }}</p>
                      {%endif%}
                      {% include "_book-button.html" %}
                      {% if g.user.id == location.owner_id %}
                        {% include "_delete-button.html"%}
                      {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
  
        </div>
    </div>

    <div class="container home-container">
      <div class="row">
        <h3 class="user-bookings">Bookings</h3>
        <div class="row">
          {% for location in bookings %}
          <div class="col-md-3">
            <div class="card">
              <h1>{{ location.address }}</h1>
              <img src="{{location.image_url}}" alt="{{location.address}}"/>
              {% include "_book-button.html" %}
              {% if g.user.id == location.owner_id %}
                {% include "_delete-button.html"%}
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- </div>
  </div> -->

{% endblock %}